ul {
    list-style-type: none;
}

a {
    color: rgb(209, 204, 204);
    text-decoration: none;
}

a:hover {
    color: rgb(254, 255, 255);
    text-decoration: none;
}


.item {
    color: rgb(7, 7, 7);

}

.item:hover {
    color: aqua;
}

.pick {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    margin: 4px 900px 4px 2px;
    border-radius: 16px;
    position: relative;
}

.pick:hover {
    background-color: rgb(43, 120, 120);
    border: none;
    color: aliceblue;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    margin: 0px 895px 0px -2px;
    border-radius: 16px;
    cursor: pointer;
    position: relative;
}

.link {
    position: absolute;
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.done {
    background-color: rgb(101, 105, 105);
    border: none;
    color: rgb(11, 11, 11);
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    margin: 4px 900px 4px 2px;
    border-radius: 16px;
    position: relative;
}

.done:hover {
    background-color: rgb(84, 87, 87);
    border: none;
    color: rgb(11, 11, 11);
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    margin: 4px 900px 4px 2px;
    border-radius: 16px;
    position: relative;
}